// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

$orange: rgb(197, 102, 34);
$purple-background: #5f2890;
$purple-button: rgba(132, 116, 254, 1);
$purple-on-black: #6a1781;