.bfrandomizerheadlines {
    margin: 2%;
    
}

.bfrandomizercardcontainer {
    display: flex;
    margin: 2%;
    
}

.bfrandomizer-card {
    margin: 2%;
    
}

.bfrandomizerroll {
    display: flex;
    margin: 1%;
    padding: 1%;
    
}

#randomizer_result {
  padding: 0;
}

#random_result {
  padding: 2%;
  border-radius: 12px;

}

.randomizer_result_content {
    margin-left: 4%;
    margin-bottom: 2%;

}