.Homeheadlines {
    margin: 2%;
    
}

.Consultationindex {
    display: flex;
    margin: 2%;
    
}

.BfRandomizer {
    display: flex;
    margin: 2%;
    
}

.HuntRandomizer {
    display: flex;
    margin: 2%;
    
}