<h1>Current Consultations:</h1>

<div class="consultcardcontainer">Test</div>

<%# <% @consultations.each do |consultation| %>
  <%# <div class="consultation-card"> %>
    <%# <h2><%= consultation.name %>
  <%# </div> %>
<%# <% end %>
