<h1>ZuH4reZ.- Gaming Consultancy</h1>
<h2>Your start of a Journey</h2>

<div class="consultationindex">
 <%= link_to "Consultations", consultations_path, class: "btn btn-outline-primary btn-sm", style: "border-radius:12px;" %>
</div>
