<h1>ZuH4reZ.- Gaming Consultancy</h1>
<h2>Your start of a Journey</h2>

<div class="consultationindex">
  <%# <%= simple_form_for @consultation do |f| %>
      <%# <%= f.hidden_field :name, value: "Amazing", class: "mood-card-hidden" %> %>
      <%# <%= f.submit "Select", class: "btn btn-warning" %>
  <%# <% end %>
</div>
