.usernavbar-whole {
  justify-items: center;
  max-width: 600px;
  margin: 0 12px;
  padding-bottom: 5px;
  border-radius: 10px;
  background: linear-gradient(135deg,#3e2a72, #532361);
  color: rgb(197, 102, 34);

}