// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/userbanner";
@import "components/usernavbar";
@import "components/userfooter";

body {
  margin: 0;
  font-family: system-ui, sans-serif;
//   could potentially use variable names for colors because of SCSS
  background-image: linear-gradient(to right, #121113, #302e30);
  color: #6a1781;           /* light text */
}
